<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta id="history" data-history = "{{myData}}"> 
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <title>날씨 예보</title>
    <script
      src="/js/lib/jquery_3.3/jquery.min.js"
      type="text/javascript"
    ></script>
    <link href="/js/lib/devExtreme_23.1/dx.common.css" rel="stylesheet" />
    <link href="/js/lib/devExtreme_23.1/dx.light.css" rel="stylesheet" />

    <script src="/js/lib/bootStrap_5.0/bootstrap.bundle.min.js"></script>
    <script src="/js/lib/devExtreme_23.1/dx.all.js"></script>

    <script type="text/javascript" src="/js/weather.js"></script>

    <style>
      body {
        background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <div class="bg-primary">
      <!-- 위치 입력 -->
      <div class="input-container">
        <span class="search-fieldSet">
          <span class="search-field-label">시/도</span>
          <span class="search-field-value">
            <span id="Si-selectBox"></span>
          </span>
        </span>
        <span class="search-fieldSet">
          <span class="search-field-label">시/군/구</span>
          <span class="search-field-value">
            <span id="Gu-input"></span>
          </span>
        </span>
        <div class="search-fieldSet">
          <div class="search-field-label">동/읍/면</div>
          <div class="search-field-value">
            <div id="Dong-input"></div>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-dark mb-3"
        id="weatherBtn"
        style="font-size: small"
        onclick="getWeather()"
      >
        search
      </button>
    </div>

    
    <!-- 날씨 예보 -->
    <div class="weather-viewport">
      <!-- 그래프 -->
      <div class="temperature-container">
        <div id="chart-demo-t">
          <div id="chart-t"></div>
        </div>
      </div>
    </div>
  </body>
</html>
